body {
    margin: 0;
    background: #F0E5E0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 0 auto;
    
}

header {
    background: #671C01;
    position: sticky;
    top: 0;
}

header::after{
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    vertical-align: middle;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}

nav ul li a {
    color: #F0E5E0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16;
    font-weight: 500;
}

nav ul li a:hover {
    color: #F0E5E0;
}

nav ul li a:after {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #F0E5E0;
    
    position: absolute;
    transition: all ease-in-out 250ms;
}


nav ul li a:hover::after {
    width: 100%;
}







