nav ul{
    padding: 1% 0;
}

footer {
    padding: 2px 0px;
}

.fLeft{
    float: left;
    padding-right: 10px;

}

.fRight{
    float: right;
    padding-left: 10px;
    padding-top: 1em;
}

p{
    margin-bottom: 60px;

}

strong{
    color: #f74843;
    text-decoration: underline;
}

em{
    color: white ;
    text-decoration: underline;
}

a:hover{
    background-color: white;
    color: black;
}

#blurb p {
    padding: 1em 5%;
    width: 90%;
}

img{
    height: 10em;
    margin-left: 1em;
    margin-top: 1em;
}

@media screen and (min-width: 400px){
    body{
        display: block;
        color: #d9d9d6;
        /*text-shadow:
                #-.5px -.5px 0 #FF0000,
                .5px -.5px 0 #FF0000,
                -.5px .5px 0 #FF0000,
                .5px .5px 0 #FF0000;*/
        font-family: Cabin, fantasy;
        margin: auto;
        max-width: 400px;
        background: #1C1C1C url("images/background.jpg") no-repeat top fixed;
        background-size: cover;
        position: center;
    }

    h1, strong{
        font-size: 18px;
        color: #f74843;
    }

    h1 a {
        text-decoration: none;
        color: #f74843;
    }

    nav{
        width: 100%;
        background-color: #1C1C1C;
        margin-top: 0;
    }

    nav ul{
        width: 100%;
        list-style: none;
        margin-top: 0;
        margin-bottom: 10px;
    }

    nav ul li{
        display: inline-block;
        list-style: none;
    }

    nav ul li a {
        text-align: left;
        text-decoration: none;
        font-size: 12pt;
        color: white;
        margin-right: 10px;
        margin-left: 5px;
    }

    nav li:hover{
        background-color: white;
        color: black;
    }

    nav li a:hover {
        color: black;
    }

    #blurb p{
        font-size: 14px;
        background-color: rgba(28, 28, 28, .9);
    }

    a{
        color: #f74843;
    }

    footer h3{
        font-size: 12px;
        margin-left: 10px;
    }
    footer{
        bottom: 0;
        background-color: #1C1C1C;
        width: 100%;
        position: relative;
    }
    footer h3 a {
        color: white;
    }

}

@media screen and (min-width: 600px){
    body{
        display: block;
        color: #d9d9d6;
        /*text-shadow:
                #-.5px -.5px 0 #FF0000,
                .5px -.5px 0 #FF0000,
                -.5px .5px 0 #FF0000,
                .5px .5px 0 #FF0000;*/
        font-family: Cabin, fantasy;
        margin: auto;
        background: #1C1C1C url("images/background.jpg") no-repeat top fixed;
        background-size: cover;
        position: center;
        max-width: 700px;
    }
    h1, strong{
        font-size: 26px;
    }

    h1 a {
        text-decoration: none;
        color: #f74843;
    }

    nav{
        background-color: #1C1C1C;
        margin-top: 0;
    }


    nav ul{
        width: 100%;
        list-style: none;
        margin-top: 0;
        margin-bottom: 10px;
    }

    nav ul li{
        display: inline-block;
        list-style: none;
    }


    nav ul li a {
        text-align: left;
        text-decoration: none;
        font-size: 18pt;
        color: white;
        margin-right: 10px;
        margin-left: 5px;
    }

    nav li:hover{
        background-color: white;
        color: black;
    }

    nav li a:hover {
        color: black;
    }

    #blurb p {
        font-size: 22px;
        background-color: rgba(28, 28, 28, .9);
    }


    a{
        color: #f74843;
    }

    footer h3{
        font-size: 18px;
        margin-left: 10px;
    }
    footer{
        bottom: 0;
        background-color: #1C1C1C;
        width: 100%;
        position: relative;
    }
    footer h3 a {
        color: white;
    }

}

@media screen and (min-width: 1200px) {
    body {
        display: block;
        width: 70%;
        color: #d9d9d6;
        /*text-shadow:
                #-.5px -.5px 0 #FF0000,
                .5px -.5px 0 #FF0000,
                -.5px .5px 0 #FF0000,
                .5px .5px 0 #FF0000;*/
        font-family: Cabin, fantasy;
        margin: auto;
        max-width: 1200px;
        background: #1C1C1C url("images/background.jpg") no-repeat top fixed;
        background-size: cover;
    }


    nav {
        width: 100%;
        background-color: #1C1C1C;
        margin-top: 0;
        margin-bottom: 25px;
    }


    nav ul {
        width: 100%;
        list-style: none;
        margin-top: 0;
        margin-bottom: 10px;
    }

    nav ul li {
        display: inline-block;
        list-style: none;
    }


    nav ul li a {
        text-align: left;
        text-decoration: none;
        font-size: 20pt;
        color: white;
        margin-right: 20px;
        margin-left: 10px;
    }

    nav li:hover {
        background-color: white;
        color: black;
    }

    nav li a:hover {
        color: black;
    }

    h1, strong {
        font-size: 30pt;
        /*text-shadow:
                -1px -1px 0 #000000,
                1px -1px 0 #000000,
                1px 1px 0 #000000,
                1px 1px 0 #000000;*/
        padding-bottom: 0;
        margin-bottom: 15px;
    }

    h1 a {
        text-decoration: none;
        color: #f74843;
    }

    #blurb p {
        font-size: 24px;
        background-color: rgba(28, 28, 28, .9);
    }

    a{
        color: #f74843;
    }

    footer {
        bottom: 0;
        background-color: #1C1C1C;
        width: 100%;
        position: relative;
        color: white;
    }

    footer h3 {
        margin-left: 10px;
    }

    footer h3 a {
        color: white;
    }

}